# ── Dépendances ──
node_modules/
.pnpm-store/

# ── Build ──
.next/
dist/
build/
.turbo/

# ── Environnement ──
.env
.env.local
.env.*.local
.env copy

# ── IDE ──
.vscode/settings.json
.idea/
*.swp
*.swo
.DS_Store

# ── web ──
apps/web/.env
apps/web/.env.local

# ── Strapi ──
apps/cms/.env
apps/cms/.tmp/
apps/cms/.cache/
apps/cms/build/
apps/cms/dist/
apps/cms/exports/
apps/cms/public/uploads/*
!apps/cms/public/uploads/.gitkeep

# ── Logs ──
*.log
npm-debug.log*
pnpm-debug.log*

# ── Tests ──
coverage/
.nyc_output/

# ── Vercel ──
.vercel/

# - Guide d'utilisation : -
.guide/
.guide/Guide_Netlify_LeFourgon.md
.guide/Guide_Vercel_LeFourgon.md
.guide/Guide_Railway_LeFourgon.md
.guide/Guide_Strapi_LeFourgon.md
.guide/Guide_Cloudinary_LeFourgon.md 
.guide/GITHUB-WORKFLOW.md

# ── Autres ──
.tmp/
.cache/
